.articlesec {
  border-radius: 0.4rem;
  border: 1px solid lightgray;
  margin-bottom: 0.3rem;
  padding: 0.3rem 0.3rem 0 0.3rem;
}
.headsec {
  display: flex;
  justify-content: space-between;
}
.btn {
  background-color: lightgray;
  color: red;
  margin-top: 0.9rem;
  border-radius: 100%;
  font-size: 16px;
  border: none;
  height: 2rem;
}
.answer {
  line-height: 1.5rem;
  position: relative;
  top: -1.5rem;
}
